.node{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: rgb(15, 15, 15);
    box-shadow:
    0 4px 14px rgba(37, 99, 235, 0.45),
    0 0 0 1px rgba(37, 99, 235, 0.6);
    z-index: 100;
    
}
.node-1{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: rgb(15, 15, 15);
    z-index: 100;
    box-shadow:
    0 4px 14px rgba(37, 99, 235, 0.45),
    0 0 0 1px rgba(37, 99, 235, 0.6);
    transition:  all 0.3 ease;
    
}
.node:hover{
    scale: 1.1;
    box-shadow:
    0 4px 14px rgba(37, 99, 235, 0.45),
    0 0 0 1px rgba(37, 99, 235, 0.6);
}
.node-1:hover{
    scale: 1.1;
    box-shadow:
    0 4px 14px rgba(37, 99, 235, 0.45),
    0 0 0 1px rgba(37, 99, 235, 0.6);
}

.line{
    background-color: white;
    width: 5px;
    height: 300px;
    position: absolute;
    transform-origin: top center;
    stroke-linecap: round;
   box-shadow:
    0 0 4px rgba(255,255,255,0.6),
    0 0 12px rgba(255,255,255,0.25);
    z-index: -1;
  
     
}
.line-2{
    background-color: white;
    width: 5px;
    height: 200px;
     z-index: 1;
    position: absolute;
    transform-origin: top center;
   box-shadow:
    0 0 4px rgba(255,255,255,0.6),
    0 0 12px rgba(255,255,255,0.25);
}
.line-3{
    background-color: white;
    width: 5px;
    height: 160px;
     z-index: 1;
    position: absolute;
    box-shadow:
    0 0 4px rgba(255,255,255,0.6),
    0 0 12px rgba(255,255,255,0.25);
    transform-origin: top center;
}