.node{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: rgb(15, 15, 15);
    z-index: 100;
    
}
.node-1{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: rgb(15, 15, 15);
    z-index: 100;
    transition:  all 0.3 ease;
    
}



.line{
    background-color: white;
    width: 5px;
    height: 300px;
    position: absolute;
    transform-origin: top center;
    stroke-linecap: round;
    z-index: -1;
  
     
}
.line-2{
    background-color: white;
    width: 5px;
    height: 200px;
     z-index: 1;
    position: absolute;
    transform-origin: top center;
}
.line-3{
    background-color: white;
    width: 5px;
    height: 160px;
     z-index: 1;
    position: absolute;
    transform-origin: top center;
}